BeautifulSoup==3.2.0
Flask==0.8
Flask-SQLAlchemy==0.15
Flask-Script==0.3.1
Jinja2==2.6
SQLAlchemy==0.7.3
Werkzeug==0.8.1
argparse==1.2.1
distribute==0.6.19
gevent==0.13.6
greenlet==0.3.1
gunicorn==0.13.4
python-dateutil==1.5
requests==0.7.4
wsgiref==0.1.2
