BeautifulSoup==3.2.0
blinker==1.4
contextlib2==0.5.1
cssselect==0.9.1
Flask==0.8
Flask-Script==0.3.1
Flask-SQLAlchemy==0.15
gunicorn==19.4.0
html2text==2016.1.8
Jinja2==2.6
lxml==3.5.0
psycopg2==2.4.2
pyquery==1.2.11
python-dateutil==1.5
raven==5.10.2
requests==2.9.1
rfc3339==5
SQLAlchemy==0.7.3
Werkzeug==0.8.1
wheel==0.24.0
