<html>
<head>
    <title>Winchester Star Articles</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <meta name="robots" content="noodp" >

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>

</head>
<body>

<div class='container'>


{% block header %}
<div class="navbar navbar-static">
  <div class="navbar-inner">
    <div class="container">
        <a class="brand" href="/">
          Winchester Star
        </a>
        <ul class="nav">
          <li class="dropdown">
            <a href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown">
                  Articles
                  <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('list_articles') }}">Recent Articles</a></li>
              <li><a href="{{ url_for('list_all_articles') }}">All Articles</a></li>
            </ul>
          </li>
          <li><a href="{{ url_for('atom_feed') }}">Atom Feed</a></li>
        </ul>

    </div>
  </div>
</div>

{% endblock %}

{% block content %}
{% endblock %}


</div>
<footer class="footer">
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>
      <em>Only for use by paid subscribers of The Winchester Star.</em>
    </p>
  </div>
</footer>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4ecc95d3f5a1f53b9f000001');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</body>
</html>
