<html>
<head>
    <title>Winchester Star Articles</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
</head>
<body>

<div class='container'>

<div class='page-header'>
    <h1>Winchester Star Articles</h1>
</div>

<p>
    <a href="{{ url_for('atom_feed') }}"><code>Atom Feed</code></a>
</p>


{% for date, arts in articles.iteritems() %}
    <div class='page-header'>
        <h2> {{ date.strftime('%Y-%m-%d') }} </h2>
    </div>
    <ul>
    {% for article in arts %}
        <li>
            <a href="{{ article.link }}">
                {{ article.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endfor %}



</div>
<footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>
          <em>Only for use by paid subscribers of The Winchester Star.</em>
        </p>
      </div>
    </footer>


</body>
</html>