{% extends "base.html" %}

{% block content %}

    {% for date, arts in articles.iteritems() %}
        <div class='page-header'>
            <h2> {{ date.strftime('%Y-%m-%d') }} </h2>
        </div>
        <ul>
        {% for article in arts %}
            <li>
                <a href="{{ url_for('single_article', article_id=article.id) }}">
                    &nbsp;&nbsp;
                </a>
                <a href="{{ article.link }}" id="{{ article.id }}">
                    {{ article.title }}
                </a>

            </li>
        {% endfor %}
        </ul>
    {% endfor %}

{% endblock %}
